<ion-header [ngClass]="{'offerSearch': !offerSearch}">
  <ion-navbar>
    <ion-title *ngIf="singleInfo">{{singleInfo.list_breif.business_name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="category-result" *ngIf="singleInfo" [ngClass]="{'offerSearch': !offerSearch}">
    <div class="result-box">
      <h4>{{singleInfo.list_breif.business_name}}  <span class="verify"> <ion-icon name="checkmark-circle-outline"></ion-icon></span></h4>
      <p>{{singleInfo.list_breif.address}}</p>
      <h5>Category:<span>{{singleInfo.list_breif.Category}}</span> ,&nbsp; Sub Category:<span>{{singleInfo.list_breif.sub_category}}</span></h5>
      <ion-row>
        <ion-col col-4>
          <a *ngIf="!singleInfo.list_breif.website"  >
            <div  class="link-box" style="opacity: 0.4;">
              <ion-icon name="link"></ion-icon>
            </div>
          </a>
          <a *ngIf="singleInfo.list_breif.website"  href="http://{{singleInfo.list_breif.website}}">
            <div  class="link-box">
              <ion-icon name="link"></ion-icon>
            </div>
          </a>
        </ion-col>
        <ion-col col-4>
          <div class="link-box" (click)="openCall(singleInfo)">
            <ion-icon name="call"></ion-icon>
          </div></a>
        </ion-col>
        <ion-col col-4>
          <div class="link-box" (click)="presentAlert(singleInfo)">
            <ion-icon name="chatboxes"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-12>
          <div class="link-box">
            <h3>{{singleInfo.list_breif.app}}</h3>
          </div>
        </ion-col>
      </ion-row>

      <div class="description" [innerHTML]="singleInfo.list_descrip.description"></div>
      <img src="{{singleInfo.list_descrip.display_image}}">
      <div class="category-map" *ngIf="singleInfo.list_breif.mapURL">
        <!--<iframe width="100%" height="200" frameborder="0" style="border:0" [src]="singleInfo.list_breif.mapURL" ></iframe>-->
        <img src="https://maps.googleapis.com/maps/api/staticmap?NY&zoom=16&size=300x150&maptype=roadmap&markers=color:red%7Clabel:{{singleInfo.list_breif.business_name}}%7C{{singleInfo.list_breif.map_latitude}},{{singleInfo.list_breif.map_longitude}}&key=AIzaSyBGZu00WxQqCFQXKDR2ixyIKtYoWWu2qNE" >
        <!--<div #map2 id="map2" style="height:100% !important;">-->
        <!--</div>-->
      </div>
      <div class="msg">
        <p *ngIf="!singleInfo.list_breif.mapURL">No Location Available</p>
      </div>
    </div>
    </div>

</ion-content>
