page-about {
  .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .item.item-input.input-has-focus .item-inner{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .list .item-input.input-has-focus:last-child{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .item.item-input.ng-valid.input-has-value:not(.input-has-focus):last-child{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }
  .bar-button-default-md{
    color: #ce1e24 !important;
  }
  ion-list .item .item-inner .input-wrapper ion-label {
    color: #ffffff !important;
  }
  .header-md::after{
    background-image: none ;
  }
  .toolbar-background-md {
    //border-color: #b2b2b2;
    background: white !important;
  }
  .toolbar-title-md {
    color: #ce1e24 !important;
    //text-align: center;
  }

  .scroll-content{
    padding-top: 70px !important;
    margin-top:0px !important;
    //background: linear-gradient(#86BC35, #369008) !important;
  }
  h3{
    color: white;
    font-size:22px;
    text-align: center;
    font-weight: 500;
  }
  p{
    color: white;
    //font-size:22px;
    text-align: justify;
    //font-weight: 500;
  }
  .login-btn {
    width:100%;
    text-align: center;
    top: 2%;
    position: relative;
    button{
      background: white;
      color: #86BC35;
    }


  }
  ion-list .item .item-inner .input-wrapper ion-label {
    color: #090909;
  }
  .item {
    background-color: transparent;
    padding-left: 0px;
  }
  .text-input {
    color: #ffffff;
  }
  .fantastic-offer{
    background: linear-gradient(#274ec2, #1a3789);
    padding:10px;
    border: 2px solid #1b388c;
  }
  .advertise-offer{
    margin-top:15px;
    background: linear-gradient(#b2000f, #61000d);
    padding:10px;
    border: 2px solid #61000d;
  }
}
