<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding >
  <div class="fantastic-offer">
    <h3>Looking for a fantastic OFFER?</h3>
    <p>Look no further.  At theofferuk you’ve
      found the perfect place to search for
      the best local deals.  It’s
      so quick and easy.  All you
      have to do is enter your postcode,
      decide the maximum distance you would like
      your search to extend, then choose the
      category of service or business OFFER
      you want. With just one click, you’ll
      be provided with a choice of great
      local OFFERS – starting with those
      closest to home – along with a map
      showing you how to get there.</p>
  </div>

  <div class="advertise-offer">
    <h3>Advertise your OFFER – for FREE</h3>
    <p>theofferuk is giving you the chance to
      advertise your business’s special OFFER
      for FREE, so it can be seen by the customers
      that matter to you the  most – those closest
      to home.  Simply click on the green ADVERTISERS
      logo on the right hand side of this page and
      register your business – along with the special
      offer you want to advertise.  In this
      section you must advertise an OFFER of
      some description – a discount or
      buy-one-get-one-free deal for instance.
      These will be checked before the advert
      appears on the site. You can place as many
      different OFFER adverts as you like, and
      you can choose how long you want each to
      appear – from 7, 14 or 30 days. As an
      added benefit to advertising with us
      you can also create a Directory listing
      for FREE, allowing local potential customers
      to find you even if you are not running any
      offers at that time.</p>
  </div>
  <!--&lt;!&ndash;<ion-header>&ndash;&gt;-->
  <!--&lt;!&ndash;<ion-navbar>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-navbar>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-header>&ndash;&gt;-->

  <!--&lt;!&ndash;<img src="assets/images/farm/farm_logo.png" class="img img-responsive logo">&ndash;&gt;-->
  <!--<ion-list>-->
    <!--&lt;!&ndash;<h3>Sign In</h3>&ndash;&gt;-->
    <!--<ion-item>-->
      <!--<ion-label floating>-->
        <!--&lt;!&ndash;<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>&ndash;&gt;-->
        <!--&nbsp;&nbsp;Name-->
      <!--</ion-label>-->
      <!--<ion-input type="text" name="email" ></ion-input>-->
    <!--</ion-item>-->


    <!--<ion-item>-->
      <!--<ion-label floating>-->
        <!--&lt;!&ndash;<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>&ndash;&gt;-->
        <!--&nbsp;&nbsp;Email-->
      <!--</ion-label>-->
      <!--<ion-input type="password" name="password" ></ion-input>-->
    <!--</ion-item> <ion-item>-->
    <!--<ion-label floating>-->
      <!--&lt;!&ndash;<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>&ndash;&gt;-->
      <!--&nbsp;&nbsp;Phone-->
    <!--</ion-label>-->
    <!--<ion-input type="password" name="password" ></ion-input>-->
  <!--</ion-item> <ion-item>-->
    <!--<ion-label floating>-->
      <!--&lt;!&ndash;<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>&ndash;&gt;-->
      <!--&nbsp;&nbsp;Message-->
    <!--</ion-label>-->
    <!--<ion-input type="password" name="password" ></ion-input>-->
  <!--</ion-item>-->

  <!--</ion-list>-->



  <!--<ion-row>-->
    <!--<ion-col col-6>-->
      <!--<div class="login-btn">-->
        <!--<button ion-button (click)="login()">Submit</button>-->
      <!--</div>-->
    <!--</ion-col>-->

  <!--</ion-row>-->

</ion-content>

