<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot-Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <!--<ion-header>-->
  <!--<ion-navbar>-->
  <!--</ion-navbar>-->
  <!--</ion-header>-->

  <!--<img src="assets/images/farm/farm_logo.png" class="img img-responsive logo">-->
  <ion-list>
    <!--<h3>Sign In</h3>-->



    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Email
      </ion-label>
      <ion-input type="password" name="password" ></ion-input>
    </ion-item>



  </ion-list>

  <div class="login-btn">
    <button ion-button (click)="login()">Submit</button>
  </div>

</ion-content>
