page-category {
  .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .item.item-input.input-has-focus .item-inner {
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .list .item-input.input-has-focus:last-child {
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .item.item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }
  .bar-button-default-md {
    color: white !important;
  }
  ion-list .item .item-inner .input-wrapper ion-label {
    //color: #ffffff !important;
  }
  .toolbar-background-md {
    //border-color: #b2b2b2;
    background: linear-gradient(#274ec2, #1a3789) !important;
  }
  .toolbar-title-md {
    color: white !important;
    //text-align: center;
  }
  .range-md.range-has-pin {
    padding-top: 0px;
  }
  .search-box {
    .login-btn {
      width: 100%;
      text-align: center;
      button {
        background: white;
        color: #274ec2;
      }
      .button-md:hover:not(.disable-hover) {
        background-color: white !important;
      }

    }
    .range-md-secondary .range-pin, .range-md-secondary .range-pin::before {
      background: linear-gradient(#274ec2, #1a3789) !important;
    }
    .range-md-secondary .range-bar-active, .range-md-secondary .range-knob, .range-md-secondary .range-pin, .range-md-secondary .range-pin::before {
      background: linear-gradient(#274ec2, #1a3789) !important;

    }
    .item-md {
      margin-bottom: 10px;
    }
    p {
      color: white;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    background: linear-gradient(#274ec2, #1a3789);
    padding: 10px;
    border: 1px solid grey;
  }
  .search-directory {
    .login-btn {
      width: 100%;
      text-align: center;
      button {
        background: white;
        color: #61000d;
      }
      .button-md:hover:not(.disable-hover) {
        background-color: white !important;
      }
    }
    .range .range-pin, .range .range-pin::before {
      background: linear-gradient(#b2000f, #61000d) !important;
    }
    .range .range-bar-active, .range .range-knob, .range .range-pin, .range .range-pin::before {
      background: linear-gradient(#b2000f, #61000d) !important;

    }

    .item-md {
      margin-bottom: 10px;
    }
    p {
      color: white;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    background: linear-gradient(#b2000f, #61000d);
    padding: 10px;
    border: 1px solid grey;
  }
  //.login-btn {
  //  width: 100%;
  //  text-align: center;
  //  button {
  //    background: white;
  //    color: #274ec2;
  //  }
  //  .button-md:hover:not(.disable-hover) {
  //    background-color: white !important;
  //  }
  //
  //}
  .featured-image {
    ion-list-header {
      font-size: 18px;
      margin-bottom: 0px;
    }
  }
  .featured-box {
    min-height: 155px;
    padding: 5px;
    border: 1px solid grey;
    h3 {
      padding: 0px;
      margin: 0px;
      font-size: 16px;
    }
    p {
      padding: 0px;
      margin: 0;
      color: #666666;
    }
  }
  .select-alert button{
      background: red !important;
    }

  .category-result{
    .result-box{
      width: 100%;
      background: #f5f5f5;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ddd;
      position: relative;
      h4{
        color: #21448d;
      }
      .verify{
        position: absolute;
        right: 12px;
        color: #4CAF50;
      }
      p{
        color: #636363;
      }
      h5{
        font-size: 16px;
        color: #2b2b2b;
        span{
          font-size: 14px;
          margin-left: 6px;
          font-weight: 400;
        }
      }
      .link-box{
        background: #20448e;
        padding: 8px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        min-height: 42px;
        h3{
          font-size: 16px;
          margin-bottom: 0px;
          position: relative;
          top: 6px;
          color: #3b3b3b;
        }

      }
      ion-col:last-child .link-box{
        background: #dcdcdc;
      }
    }
  }
  .category-map{
    width: 100%;
    min-height: 130px;
    img{
      width: 100%;
    }
  }
  .cat-btn{
    width: 100% !important;
    box-shadow: none !important;
    background: transparent !important;
    color: #060606 !important;
    padding: 0px !important;
    text-transform: initial !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .specific-btn {
    ion-label{
      margin: 6px !important;
    }
    .button-inner{
      justify-content: baseline !important;
    }
    //&:after{
    //  position: absolute;
    //  content: '\f107';
    //  //font-family: ;
    //  font-size: 20px;
    //}
    .cat-boss{
      position: absolute;
      right: 0;
      font-weight: 500;
      color: #254b9b;
      white-space: nowrap;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .forward-icon{
    color:#254b9b;
    margin-left:10px;
  }
  .msg{
    text-align: center;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
    color: #e81111 !important;
  }
}

.no-data{
  text-align: center;
  color: red;
}
