<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="search-box">
    <p>Find fantastic offers local to you with
      this FREE search</p>

    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        Postcode
      </ion-label>
      <ion-input type="text"  [(ngModel)]="categoryModal.offer_zipcode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="range-label">Distance (Miles)</ion-label>
      <ion-range min="0" max="100" step="5" snaps="true" pin="true" color="secondary" [(ngModel)]="categoryModal.slider_val"></ion-range>
    </ion-item>

    <ion-list radio-group [(ngModel)]="categoryModal.specific_category" (ngModelChange)="changeCategory()">
      <!--<ion-list-header>-->
      <!--Language-->
      <!--</ion-list-header>-->

      <ion-item>
        <ion-label>All Category</ion-label>
        <ion-radio checked="true" value="false"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Specific</ion-label>
        <ion-radio value="true"  ></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="specificCategory == 'true'" class="specific-btn">
      <!--<ion-label >Select Category</ion-label>-->
      <button ion-button (click)="presentPopover()" class="cat-btn">Select Category&nbsp;<span class="cat-boss">{{selectedCategoryName}}</span></button>
      <!--<ion-select  [(ngModel)]="categoryModal.offer_category">-->
        <!--<span *ngFor="let category of categoryList">-->
          <!--<ion-option  value="{{category.cat_id}}" >{{category.ParentCategory}}</ion-option>-->
          <!--<span *ngFor="let child of category.ChildCategory">-->
            <!--<ion-option  value="{{child.subcat_id}}" >{{child.ChildCategory}}</ion-option>-->
          <!--</span>-->
        <!--</span>-->

      <!--</ion-select>-->
    </ion-item>
    <div class="login-btn">
      <button ion-button (click)="getSpecificCategory()">Submit</button>
    </div>
  </div>
  <!--<p class="no-data" *ngIf="offerList.length == 0">No Data Found!!</p>-->
  <div class="category-result" *ngIf="offerList">
    <div class="result-box" *ngFor="let offer of offerList">
      <h4 (click)="singleCategory(offer.id, offer.des.type)">{{offer.des.business_name}} <span class="forward-icon"> <ion-icon name="arrow-forward"></ion-icon></span> <span class="verify"> <ion-icon name="checkmark-circle-outline"></ion-icon></span></h4>
      <p>{{offer.address}}</p>
      <h5>Category:<span>{{offer.des.cat_name}}</span> ,&nbsp; Sub Category:<span>{{offer.des.subcat_name}}</span></h5>
      <ion-row>
        <ion-col  col-4>
          <a *ngIf="!offer.des.website"  >
            <div  class="link-box" style="opacity: 0.4;">
              <ion-icon name="link"></ion-icon>
            </div>
          </a>
          <a *ngIf="offer.des.website"  href="http://{{offer.des.website}}">
            <div  class="link-box">
              <ion-icon name="link"></ion-icon>
            </div>
          </a>
          <!--<a   href="{{offer.des.website}}">-->
            <!--<div class="link-box" (click)="openWeb(offer)">-->
              <!--<ion-icon name="link"></ion-icon>-->
            <!--</div>-->
          <!--</a>-->
          <!--<div class="link-box" (click)="openWeb(offer)">-->
            <!--<ion-icon name="link"></ion-icon>-->
          <!--</div>-->
        </ion-col>
        <ion-col col-4>
         <div class="link-box" (click)="openCall(offer)">
            <ion-icon name="call"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="link-box" (click)="presentAlert(offer)">
            <ion-icon name="chatboxes"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-12>
        <div class="link-box">
        <h3>{{offer.des.app}}</h3>
        </div>
        </ion-col>
        <!--<ion-col col-4>-->
          <!--<div class="link-box">-->
            <!--<ion-icon name="add"></ion-icon>-->
          <!--</div>-->
        <!--</ion-col>-->
        <!--<ion-col col-4>-->
          <!--<div class="link-box">-->
            <!--<ion-icon name="people"></ion-icon>-->
          <!--</div>-->
        <!--</ion-col>-->
        <!--<ion-col col-4>-->
          <!--<div class="link-box">-->
            <!--<h3>Local</h3>-->
          <!--</div>-->
        <!--</ion-col>-->

      </ion-row>

      <div class="category-map">
        <img src="https://maps.googleapis.com/maps/api/staticmap?NY&zoom=16&size=300x150&maptype=roadmap&markers=color:red%7Clabel:{{offer.des.business_name}}%7C{{offer.lat}},{{offer.lng}}&key=AIzaSyBGZu00WxQqCFQXKDR2ixyIKtYoWWu2qNE" >
       <!--<iframe width="100%" height="200" frameborder="0" style="border:0" [src]="offer.mapURL" ></iframe>-->
      </div>
      <div class="msg">
        <p *ngIf="!offer.lat">No Location Available</p>
      </div>
    </div>
  </div>
  <div class="featured-image">
    <ion-list>

      <ion-list-header>
        Featured Categories
      </ion-list-header>
      <ion-row>
        <ion-col col-6 *ngFor="let category of categoryList | slice:0:5; let i=index">
          <div class="featured-box" (click)="featureCategory(category.cat_id)">
            <img src="assets/imgs/home.jpg" *ngIf="category.ParentCategory == 'Home'">
            <img src="assets/imgs/hair_beauty.jpg" *ngIf="category.ParentCategory == 'Hair & Beauty'">
            <img src="assets/imgs/tradres.jpg" *ngIf="category.ParentCategory == 'Trades'">
            <img src="assets/imgs/food_drinks.jpg" *ngIf="category.ParentCategory == 'Food & Drink'">
            <img src="assets/imgs/professional.jpg" *ngIf="category.ParentCategory == 'Professional Services'">
            <h3>{{category.ParentCategory}}</h3>
            <p>For all those domestic disasters</p>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="featured-box" (click)="featureCategory(14)">
            <img src="assets/imgs/health_fitness.jpg">
            <h3>Health & Fitness</h3>
            <p>Keeping you fit and healthy</p>
          </div>
        </ion-col>

      </ion-row>
    </ion-list>

  </div>

  <!--<div class="search-directory">-->
    <!--<p>Directory Search</p>-->

    <!--<ion-item>-->
      <!--<ion-label floating>-->
        <!--&lt;!&ndash;<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>&ndash;&gt;-->
        <!--Postcode-->
      <!--</ion-label>-->
      <!--<ion-input type="text" [(ngModel)]="categoryModal.offer_zipcode"></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label class="range-label">Distance (Miles)</ion-label>-->
      <!--<ion-range min="0" max="100" step="1" snaps="true" pin="true" color="secondary" [(ngModel)]="categoryModal.slider_val"></ion-range>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label>Select Category</ion-label>-->
      <!--<ion-select  [(ngModel)]="categoryModal.offer_category">-->
        <!--<div *ngFor="let category of categoryList" >-->
        <!--<span class="parentClass">-->
          <!--<ion-option value="{{category.id}}"  *ngIf="category.ParentCategory" >{{category.ParentCategory}}-->
        <!--</ion-option>-->
        <!--</span>-->
          <!--<ion-option  value="{{category.id}}" *ngIf="category.ChildCategory" >{{category.ChildCategory}}-->
          <!--</ion-option>-->
        <!--</div>-->
      <!--</ion-select>-->
    <!--</ion-item>-->










    <!--<div class="login-btn">-->
      <!--<button ion-button (click)="login()">Submit</button>-->
    <!--</div>-->
  <!--</div>-->
</ion-content>
