<!--
  Generated template for the DirectoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Directory Search</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="search-directory">
    <p>Directory Search</p>

    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        Postcode
      </ion-label>
      <ion-input type="text"  [(ngModel)]="directoryModal.offer_zipcode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="range-label">Distance (Miles)</ion-label>
      <ion-range min="0" max="100" step="5" snaps="true" pin="true" color="secondary" [(ngModel)]="directoryModal.slider_val"></ion-range>
    </ion-item>

    <ion-item class="specific-btn">
      <!--<ion-label >Select Category</ion-label>-->
      <button ion-button (click)="presentPopover()" class="cat-btn">Select Category&nbsp;<span class="cat-boss">{{selectedCategoryName}}</span></button>
      <!--<ion-select  [(ngModel)]="categoryModal.offer_category">-->
      <!--<span *ngFor="let category of categoryList">-->
      <!--<ion-option  value="{{category.cat_id}}" >{{category.ParentCategory}}</ion-option>-->
      <!--<span *ngFor="let child of category.ChildCategory">-->
      <!--<ion-option  value="{{child.subcat_id}}" >{{child.ChildCategory}}</ion-option>-->
      <!--</span>-->
      <!--</span>-->

      <!--</ion-select>-->
    </ion-item>
    <div class="login-btn">
      <button ion-button (click)="getSpecificCategory()">Submit</button>
    </div>
  </div>

  <div class="category-result" *ngIf="offerList">
    <div class="result-box" *ngFor="let offer of offerList">
      <h4 (click)="singleCategory(offer.id, offer.des.type)">{{offer.des.business_name}} <span class="forward-icon"> <ion-icon name="arrow-forward"></ion-icon></span> <span class="verify"> <ion-icon name="checkmark-circle-outline"></ion-icon></span></h4>
      <p>{{offer.address}}</p>
      <h5>Category:<span>{{offer.des.cat_name}}</span> ,&nbsp; Sub Category:<span>{{offer.des.subcat_name}}</span></h5>
      <ion-row>
        <ion-col col-4>
          <a *ngIf="!offer.des.website"  >
            <div  class="link-box" style="opacity: 0.4;">
              <ion-icon name="link"></ion-icon>
            </div>
          </a>
          <a *ngIf="offer.des.website"  href="http://{{offer.des.website}}">
            <div  class="link-box">
              <ion-icon name="link"></ion-icon>
            </div>
          </a>
        </ion-col>
        <ion-col col-4>
          <div class="link-box" (click)="openCall(offer)">
            <ion-icon name="call"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="link-box" (click)="presentAlert(offer)">
            <ion-icon name="chatboxes"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-12>
          <div class="link-box">
            <h3>{{offer.des.app}}</h3>
          </div>
        </ion-col>

      </ion-row>

      <div class="category-map">
        <!--<iframe width="100%" height="200" frameborder="0" style="border:0" [src]="offer.mapURL" ></iframe>-->
        <img src="https://maps.googleapis.com/maps/api/staticmap?NY&zoom=16&size=300x150&maptype=roadmap&markers=color:red%7Clabel:{{offer.des.business_name}}%7C{{offer.lat}},{{offer.lng}}&key=AIzaSyBGZu00WxQqCFQXKDR2ixyIKtYoWWu2qNE" >
        <!--<div #map2 id="map2" style="height:100% !important;">-->
        <!--</div>-->
      </div>
      <div class="msg">
        <p *ngIf="!offer.lat">No Location Available</p>
      </div>
    </div>
  </div>
</ion-content>
