page-registration {
  .item.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .item.item-input.input-has-focus .item-inner{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .list .item-input.input-has-focus:last-child{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .item.item-input.ng-valid.input-has-value:not(.input-has-focus):last-child{
    border-bottom-color: white;
    box-shadow: inset 0 -1px 0 0 transparent;
  }
  .bar-button-default-md{
    color: white !important;
  }
  ion-list .item .item-inner .input-wrapper ion-label {
    color: #ffffff !important;
  }
  .header-md::after{
    //background-image: ;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: linear-gradient(#86BC35, #369008) !important;
  }
  .toolbar-title-md {
    color: white !important;
    //text-align: center;
  }
  .scroll-content{
    padding-top: 50px !important;
    margin-top:0px !important;
    background: linear-gradient(#86BC35, #369008) !important;
  }
  h3{
    color: white;
    font-size:22px;
    text-align: center;
    font-weight: 500;
  }
  p{
    color: white;
    //font-size:22px;
    text-align: center;
    font-weight: 500;
  }
  .login-btn {
    width:100%;
    text-align: center;
    //top: 2%;
    //position: relative;
    button{
      background: white;
      color: #86BC35;
    }
    .button-md:hover:not(.disable-hover) {
      background-color: white !important;
    }

  }
  ion-list .item .item-inner .input-wrapper ion-label {
    color: #090909;
  }
  .item {
    background-color: transparent;
    padding-left: 0px;
  }
  .text-input {
    color: #ffffff;
  }
  .select-box{
    border-bottom: 1px solid #dedede;
    margin-top:15px;
  }
}
