<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <!--<ion-header>-->
  <!--<ion-navbar>-->
  <!--</ion-navbar>-->
  <!--</ion-header>-->

  <!--<img src="assets/images/farm/farm_logo.png" class="img img-responsive logo">-->
  <ion-list>
    <!--<h3>Registartion</h3>-->
    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Name
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item> <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Email
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item> <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Password
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item> <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Retype Password
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item> <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Phone
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Mobile
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Address
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item>


    <ion-item class="select-box">
      <ion-label>Country</ion-label>
      <ion-select >
        <ion-option value="india">India
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>




      <div class="login-btn">
        <button ion-button (click)="login()">Submit</button>
      </div>
</ion-content>

