<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>-->
      <!--Ionic Blank-->
    <!--</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
  <!--The world is your oyster.-->
  <!--<p>-->
    <!--If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.-->
  <!--</p>-->
<!--</ion-content>-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >
  <!--<ion-header>-->
    <!--<ion-navbar>-->
    <!--</ion-navbar>-->
  <!--</ion-header>-->

  <!--<img src="assets/images/farm/farm_logo.png" class="img img-responsive logo">-->
  <ion-list>
<!--<h3>Sign In</h3>-->
    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/nav_profile.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Email
      </ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Password
      </ion-label>
      <ion-input type="password" name="password" ></ion-input>
    </ion-item>

  </ion-list>

  <div *ngIf="error">
    <p class="error">{{error.description}}</p>
    <div *ngFor="let loginError of error.fieldErrors">
      <p class="error">{{loginError.message}}</p>
    </div>
  </div>
  <div *ngIf="loginError">
    <p class="error">{{loginError}}</p>
  </div>
<ion-row>
  <ion-col col-6>
    <div class="login-btn">
      <button ion-button (click)="login()">Submit</button>
    </div>
  </ion-col>
  <ion-col col-6>
    <p (click)="forgotPassword()"> Forgot Password?</p>
  </ion-col>
</ion-row>

</ion-content>
