// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu{
  .menu-inner {
    width: 215px !important;
  }
  .logo {
    img {
      width: 100%;
      border: 0;
      padding: 35px 7px;
      height: auto;
      border-bottom: 1px solid #dedede;
    }
  }
  ion-footer{
    p{
      font-size: 12px;
      padding: 0px;
      margin: 0px;
      float: right;
      color: grey;
    }
  }
  .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
    border-bottom: 1px solid #dedede;
  }

}


ion-alert{
  .parentClass {
    .alert-radio-button {
      background: red !important;
    }
  }
}

.range-ios .range-tick {
  top: 19.5px !important;
  width: 1px !important;
  height: 4px !important;
}
