<ion-menu [content]="content"  (ionOpen)="onMenuOpen($event)" (ionClose)="onMenuClose($event)">
  <ion-content>
    <ion-list>
      <div class="logo">
        <img src="assets/imgs/logo.jpg">
      </div>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}</button>
    </ion-list>
  </ion-content>
<ion-footer>
  <p>v1.01</p></ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
