<!--
  Generated template for the ContactUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Contact-us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <ion-item>
      <ion-label floating>
        &nbsp;&nbsp;Name
      </ion-label>
      <ion-input type="text"  [(ngModel)]="contactModal.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Email
      </ion-label>
      <ion-input type="email" [(ngModel)]="contactModal.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Phone
      </ion-label>
      <ion-input type="text" [(ngModel)]="contactModal.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <!--<ion-icon><img src="assets/images/farm/signup_password.png" class="field-icon"></ion-icon>-->
        &nbsp;&nbsp;Message
      </ion-label>
      <ion-textarea type="text"  [(ngModel)]="contactModal.message"></ion-textarea>
    </ion-item>

      <div class="login-btn">
        <button ion-button (click)="postContact()">Submit</button>
      </div>

</ion-content>
