<div class="popup">
  <h4>Select Category</h4>

  <span *ngFor="let category of categoryList" style="margin-bottom: 30px !important;">
      <h3 (click)="selectCategory(category.cat_id,category.ParentCategory, 'cat')" >{{category.ParentCategory}}</h3>
      <span *ngFor="let child of category.ChildCategory">
      <p  (click)="selectCategory(child.subcat_id,child.ChildCategory, 'sub_cat')">{{child.ChildCategory}}</p>
      </span>
      </span>
</div>
<ion-footer><button ion-button (click)="selectCategory()">Cancel</button></ion-footer>
