.popover-content{
  width: 100% !important;
  left: 0 !important;
  right: 0px !important;
  height: 100% !important;
  position: absolute !important;
  text-align: center !important;
  top: 20% !important;
  box-shadow: 3px 3px 50px #000 !important;

  //background: transparent !important;
  //-webkit-box-shadow:0 !important;
  //box-shadow: 0px !important;
}

ion-popover{
  margin: 20px;
  height: 500px;
}

.popup{
  position: relative;
  margin-top:10px;
  margin-bottom: 80px;
  h3{
    font-size: 18px;
    background: #f5f5f5;
    padding: 11px;
    color: #2854ac;
    text-align: left;
    margin-left: 6px;
  }
  p{
    text-align: left;
    color: #353535;
    font-size: 14px;
    border-left: 2px solid #ddd;
    margin: 0px;
    padding: 11px;
    margin-left: 11px;
    //margin-bottom: 8px;
    position: relative;
    padding-left: 18px;
  }
  p:before{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background: #ddd;
    left: 0px;
    bottom: 17px;
  }
  h4{
    text-align: center;
  }
}


.popup{
  position: relative;
  margin-top: 10px;
  margin-bottom: 80px;
  height: 390px;
  overflow-y: scroll;
}

ion-footer {
  padding: 7px;
  background: #fff;
  button {
    border-radius: 0px !important;
    background: #2750a4 !important;
    text-transform: initial !important;
    box-shadow: none !important;

  }
}
